{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "env": {
    "mocha": true
  },
  "plugins": [
    "mocha",
    "prettier"
  ],
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "prettier/prettier": "error",
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ]
  },
  "globals": {
    "assert": false,
    "assertRevert": false,
    "artifacts": false,
    "contract": false,
    "web3": false
  }
}
